<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- scan the components in the specified package -->
    <context:component-scan base-package="com.huey.learning.java.kryo"/>

    <bean class="com.huey.learning.java.kryo.pitfall.cglibproxyobject.Waiter" />
    <bean id="preGreetingAspect" class="com.huey.learning.java.kryo.pitfall.cglibproxyobject.PreGreetingAspect"/>

    <aop:config proxy-target-class="true">
        <aop:aspect ref="preGreetingAspect">
            <aop:before method="beforeGreeting" pointcut="execution(* greetTo(..))"/>
        </aop:aspect>
    </aop:config>

</beans>